.todo-input-wrapper {
  margin-bottom: 20px;
}


input {
  width: 80%;
  border: none;
  
  
  background-color: #F5F5F5;
  margin-right: 10px;
  padding: 10px;
  line-height: 17px;
  border-radius : 7px;
}

input:focus {
  outline: none;
  
}
button{
  
}
