<div class="todoWrapper">
  <div class="left-pane">
    <input class="form-check-input" type="checkbox" (change)="addRemoveTodoToDelete()">

  </div>
  <div class="center-pane">

      <span *ngIf="!editMode">{{todo.text}}</span>
      <input class="app-input" *ngIf="editMode" type="text" [(ngModel)]="todo.text">
  
  </div>
  <div class="right-pane">
    <button *ngIf="!editMode" class="btn btn-danger" (click)="removeTodo()">remove</button>
    <button *ngIf="!editMode" class="btn btn-primary" (click)="editTodo()">edit</button>
    <button *ngIf="editMode" class=" btn btn-warning" (click)="cancelEdit()">cancel</button>
    <button *ngIf="editMode" class="btn btn-success" (click)="saveEdit( todo.text, todo.id)">save</button>
  </div>

</div>