.todoWrapper {
  
  text-align: left;
  margin-bottom: 2px;
  display : flex;
  background-color: #f5f5f5;
  padding: 9px;
  border-radius: 7px;
  color: #8a8989;
  
}

.left-pane{
  margin-top: auto;
  margin-bottom: auto;
  flex : 1;
}
.center-pane{
  margin-top: auto;
  flex : 7;
}
.right-pane{
  text-align : right;
  flex: 5;
}
.app-input{
   width : 100%;
}
